<div>
  <%= flash[:notice] %>
</div>

  <div class="container">
    <div class="row">
    <div class="col-lg-3">

<%= render 'users/list', user: @user, book_new: @book_new %>
    </div>

  <div class="col-lg-8">
<h1>Book detail</h1>
  <table class="table table-striped">
    <th>
      <td><%= @book.title %></td>
    </th>
    <th>
      <td><%= @book.body %></td>
    </th>

  <% if @book.user == current_user %>
        <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-success" %></td>
        <td><%= link_to "Destroy", book_path(@book), method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-sm btn-danger" %></td>
  <% end %>
  </table>
  </div>
  </div>
</div>